version: 2.1
orbs:
  rust: circleci/rust@1.5.0
jobs:
  lint-build-test:
        description: |
            Check linting with Clippy and rustfmt, build the crate, and run tests.
        executor:
            name: rust/default
            tag: 1.55.0
        environment:
            RUSTFLAGS: '-D warnings'
        steps:
            - checkout
            - run:
                name: Install rustfmt
                command: rustup component add rustfmt
            - run:
                name: Run rustfmt
                command: cargo fmt -- --check
            - run:
                name: Install Clippy
                command: rustup component add clippy
            - run:
                name: Run Clippy
                command: cargo clippy --all -- --deny warnings
            - run:
                name: Build workspace
                command: cargo build --workspace --jobs 2
            - run:
                name: Test workspace
                command: cargo test --workspace
            - run:
                name: Test benchmark compilability
                command: cargo bench --workspace --no-run
workflows:
  merge-test:
    jobs:
      - lint-build-test
